Repository ergiosko/rootine, changes with the labels that .github/labeler.yml gives for each.
All labels: bug, documentation, enhancement, shell, ubuntu, configuration, workflow, dependencies, scripts, security

Change file permissions
  install.sh
  rootine
  uninstall.sh
Labels: shell, scripts

Add library files
  install.sh
  library/bootstrap.sh
  library/common/arg_parser.sh
  library/common/constants.sh
  library/common/functions.sh
  library/common/log_messages.sh
  library/root/apt_get.sh
  library/root/constants.sh
  library/root/snap.sh
  library/root/sys_info.sh
  library/user/constants.sh
  library/user/git.sh
  rootine
  uninstall.sh
Labels: shell, scripts

Change file permissions
  install.sh
  rootine
  uninstall.sh
Labels: shell, scripts

Add commands files
  commands/root/create-swapfile.sh
  commands/root/disable-motd.sh
  commands/root/disable-unattended-upgrades.sh
  commands/root/install-apache2-server.sh
  commands/root/install-apt-packages.sh
  commands/root/install-brotli.sh
  commands/root/install-certbot.sh
  commands/root/install-fail2ban.sh
  commands/root/install-git.sh
  commands/root/install-google-chrome.sh
  commands/root/install-mariadb-server.sh
  commands/root/install-mysqltuner.sh
  commands/root/install-openssh-server.sh
  commands/root/install-php.sh
  commands/root/install-postfix.sh
  commands/root/install-ps-mem.sh
  commands/root/install-signal.sh
  commands/root/install-snap-packages.sh
  commands/root/install-speedtest-cli.sh
  commands/root/install-sublime-merge.sh
  commands/root/install-sublime-text.sh
  commands/root/install-varnish-cache.sh
  commands/root/install-viber.sh
  commands/root/install-zoom.sh
  commands/root/setup-certbot.sh
  commands/root/testing.sh
  commands/root/update-python.sh
  commands/root/upgrade-packages.sh
  commands/user/git-clone.sh
  commands/user/git-config.sh
  commands/user/git-push.sh
  commands/user/git-reset.sh
  commands/user/install-nodejs.sh
  library/root/constants.sh
Labels: bug, shell

Add check_package_manager_status() function
  library/bootstrap.sh
  library/common/constants.sh
  library/common/functions.sh
  library/root/apt_get.sh
  library/root/constants.sh
Labels: shell

Various minor fixes
  .editorconfig
  .github/CODE_OF_CONDUCT.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/SECURITY.md
  .github/SUPPORT.md
  library/root/sys_info.sh
Labels: documentation, shell, configuration

Update apt-get functions
  library/root/apt_get.sh
Labels: shell

Update handling of utility directories
  install.sh
  library/bootstrap.sh
  uninstall.sh
Labels: shell, scripts

Update git functions
  commands/user/git-push.sh
  library/bootstrap.sh
  library/user/git.sh
Labels: shell

Update README file
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/config.yml
  README.md
Labels: documentation, configuration

Add badges to the README.md file
  README.md
Labels: documentation

Update Basic Usage information
  README.md
  install.sh
  uninstall.sh
Labels: documentation, shell, scripts

Fix help and version info args
  README.md
  rootine
Labels: documentation

Update contributing info
  .github/CONTRIBUTING.md
  README.md
  library/common/constants.sh
Labels: documentation, shell

chore(core)
  README.md
  commands/root/install-postfix.sh
  commands/user/install-nodejs.sh
  library/bootstrap.sh
  library/common/functions.sh
  library/root/snap.sh
  rootine
Labels: bug, documentation, shell

Colors, timeout and more
  .shellcheckrc
  install.sh
  library/bootstrap.sh
  library/root/apt_get.sh
  library/user/git.sh
  rootine
  uninstall.sh
Labels: shell, scripts

Various style fixes
  commands/root/upgrade-packages.sh
  install.sh
  library/common/arg_parser.sh
  library/common/functions.sh
  library/root/sys_info.sh
  library/user/git.sh
  rootine
  uninstall.sh
Labels: shell, scripts

Various fixes
  commands/user/git-config.sh
  commands/user/git-push.sh
  commands/user/install-nodejs.sh
  library/common/functions.sh
  library/user/git.sh
Labels: shell

Add generate-ssh-key command
  .shellcheckrc
  commands/user/generate-ssh-key.sh
  commands/user/git-clone.sh
  commands/user/git-config.sh
  commands/user/git-push.sh
  commands/user/git-reset.sh
  commands/user/install-nodejs.sh
  library/common/functions.sh
Labels: shell

Add common commands
  commands/common/generate-ssh-key.sh
  commands/common/git-config.sh
  commands/common/testing.sh
  library/bootstrap.sh
Labels: shell

Update README
  .editorconfig
  README.md
Labels: documentation

Update README
  README.md
Labels: documentation

Change script arg prefix
  commands/common/generate-ssh-key.sh
  commands/common/git-config.sh
  commands/root/create-swapfile.sh
  commands/root/disable-motd.sh
  commands/root/disable-unattended-upgrades.sh
  commands/root/install-apache2-server.sh
  commands/root/install-apt-packages.sh
  commands/root/install-brotli.sh
  commands/root/install-certbot.sh
  commands/root/install-fail2ban.sh
  commands/root/install-git.sh
  commands/root/install-mariadb-server.sh
  commands/root/install-mysqltuner.sh
  commands/root/install-openssh-server.sh
  commands/root/install-php.sh
  commands/root/install-postfix.sh
  commands/root/install-ps-mem.sh
  commands/root/install-signal.sh
  commands/root/install-snap-packages.sh
  commands/root/install-speedtest-cli.sh
  commands/root/install-sublime-merge.sh
  commands/root/install-sublime-text.sh
  commands/root/install-varnish-cache.sh
  commands/root/install-viber.sh
  commands/root/install-zoom.sh
  commands/root/setup-certbot.sh
  commands/root/update-python.sh
  commands/root/upgrade-packages.sh
  commands/user/git-clone.sh
  commands/user/git-push.sh
  commands/user/git-reset.sh
  commands/user/install-nodejs.sh
  library/common/arg_parser.sh
  library/common/functions.sh
  library/user/git.sh
Labels: bug, shell

Minor updates
  README.md
  commands/common/git-config.sh
  install.sh
  library/common/functions.sh
  library/root/snap.sh
  library/user/git.sh
  rootine
  uninstall.sh
Labels: documentation, shell, scripts

Update git-push.sh
  commands/user/git-push.sh
Labels: shell

Update git-reset.sh
  commands/user/git-reset.sh
Labels: shell

Update git-clone.sh
  commands/user/git-clone.sh
  commands/user/install-nodejs.sh
Labels: shell

Update install-nodejs.sh
  commands/user/git-clone.sh
  commands/user/git-push.sh
  commands/user/git-reset.sh
  commands/user/install-nodejs.sh
  library/user/git.sh
Labels: shell

Update install-nodejs.sh
  library/user/git.sh
Labels: shell

Add conventional-commits.sh
  library/user/conventional-commits.sh
Labels: shell

Update conventional-commits.sh
  library/user/conventional-commits.sh
Labels: shell

Update Conventional Commits
  commands/user/git-push.sh
  library/bootstrap.sh
  library/user/conventional-commits.sh
  library/user/templates/git-commit-template.txt
Labels: documentation, shell

Add git-install-hooks.sh
  commands/user/git-install-hooks.sh
Labels: shell

Minor fixes
  commands/user/git-install-hooks.sh
  library/user/conventional-commits.sh
Labels: shell

Minor fixes and comments
  library/user/conventional-commits.sh
Labels: shell

feat(library): add conventional commits support
  commands/user/git-push.sh
  library/user/conventional-commits.sh
Labels: shell

feat(library): add conventional commits support
  library/user/conventional-commits.sh
Labels: shell

fix(library): minor fixes to conventional commits
  library/user/conventional-commits.sh
Labels: shell

feat(library): add CHANGELOG.md file
  CHANGELOG.md
Labels: documentation

feat(core): add release.yml
  .github/release.yml
  CHANGELOG.md
Labels: documentation, configuration

.github/labeler.yml:

# Default GitHub Labels - Applied based on content patterns

# Bug label - for files that are likely bug fixes
bug:
  - '**/fix/**'
  - '**/bugfix/**'
  - '**/hotfix/**'
  - '**/*fix*.sh'

# Documentation label - for documentation changes
documentation:
  - '**/*.md'
  - '**/*.txt'
  - 'docs/**/*'
  - '**/doc/**'
  - '**/docs/**'
  - 'README*'
  - 'LICENSE*'

# Enhancement label - for new features and improvements
enhancement:
  - '**/feature/**'
  - '**/feat/**'
  - '**/enhance/**'
  - '**/improvement/**'

# Custom Labels for Rootine-specific content

# Shell scripts label - primary content type
shell:
  - '**/*.sh'
  - '**/*.bash'
  - '**/bin/*'

# Ubuntu-specific content
ubuntu:
  - '**/apt/**'
  - '**/dpkg/**'
  - '**/ubuntu/**'
  - '**/debian/**'

# Configuration files
configuration:
  - '**/*.conf'
  - '**/*.cfg'
  - '**/*.yml'
  - '**/*.yaml'
  - '**/*.json'
  - '**/*.ini'

# CI/CD and workflow files
workflow:
  - '.github/workflows/**'
  - '.github/actions/**'
  - '.gitlab-ci.yml'
  - '**/pipeline/**'

# Dependencies and environment
dependencies:
  - 'requirements.txt'
  - 'package.json'
  - 'package-lock.json'
  - 'Dockerfile'
  - '**/deps/**'
  - '**/vendor/**'

# Root scripts - main functionality
scripts:
  - '*.sh'
  - 'bin/*'
  - 'scripts/*'

# Security-related changes
security:
  - '**/security/**'
  - '**/crypto/**'
  - '**/auth/**'
  - '**/ssl/**'
