Repository ergiosko/rootine, changes with the labels that .github/labeler.yml gives for each.
All labels: breaking-change, bug, chore, configuration, dependencies, documentation, enhancement, performance, refactor, revert, security, shell, style, tests, ubuntu, workflow

ci(github): add CODEOWNERS file
  .github/CODEOWNERS
Labels: none

feat(docs): add /docs directory
  docs/.gitkeep
Labels: documentation

fix(core): fix generate_ssh_key() function
  commands/common/generate-ssh-key.sh
  library/common/functions.sh
Labels: shell

refactor(core): add_ssh_key() function
  commands/common/add-ssh-key.sh
  library/common/functions.sh
Labels: shell

docs: add comments to common commands
  CHANGELOG.md
  commands/common/git-config.sh
  commands/common/testing.sh
  commands/user/git-push.sh
  commands/user/git-reset.sh
  library/bootstrap.sh
  library/common/logging.sh
  library/root/apt_get.sh
  library/user/conventional-commits.sh
Labels: documentation, shell

chore(library): minor improvements
  commands/user/git-push.sh
  library/common/constants.sh
  library/user/conventional-commits.sh
  library/user/git.sh
Labels: shell

feat(core): add log_append() function, other minor improvements
  commands/common/testing.sh
  commands/user/git-push.sh
  library/bootstrap.sh
  library/common/constants.sh
  library/common/logging.sh
  library/user/git.sh
  rootine
Labels: shell

ci(github): move 'templates' folder
  library/templates/git-commit-msg.hook.sh
  library/templates/git-commit-template.txt
  library/user/conventional-commits.sh
Labels: documentation, shell

ci(github): update Release Please configuration
  .github/release-please-config.json
  README.md
Labels: configuration, documentation

Latest updates from "develop" branch. (#12)
  .github/CODEOWNERS
  .github/release-please-config.json
  CHANGELOG.md
  README.md
  commands/common/add-ssh-key.sh
  commands/common/git-config.sh
  commands/common/testing.sh
  commands/user/git-push.sh
  commands/user/git-reset.sh
  docs/.gitkeep
  library/bootstrap.sh
  library/common/constants.sh
  library/common/functions.sh
  library/common/logging.sh
  library/root/apt_get.sh
  library/templates/git-commit-msg.hook.sh
  library/templates/git-commit-template.txt
  library/user/conventional-commits.sh
  library/user/git.sh
  rootine
Labels: configuration, documentation, shell

fix(core): fix incorrect display of default values in _show_script_args_help() function
  commands/user/git-install-hooks.sh
  library/common/arg_parser.sh
  rootine
Labels: shell

docs(core): revise comments tags schema
  commands/user/git-install-hooks.sh
  library/common/constants.sh
Labels: shell

docs(commands): update comments for Git hooks installation
  commands/user/git-install-hooks.sh
Labels: shell

.github/labeler.yml:

# .github/labeler.yml
# Configuration for the GitHub Pull Request Labeler action

# Breaking Changes
breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - '**/BREAKING-CHANGE/**'
      - '**/breaking/**'

# Bug fixes
bug:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*fix*.sh'
      - '**/bugfix/**'
      - '**/fix/**'
      - '**/hotfix/**'

# Chores and maintenance
chore:
  - changed-files:
    - any-glob-to-any-file:
      - '.gitattributes'
      - '.gitignore'
      - '**/chore/**'
      - '**/maintenance/**'

# Configuration files
configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.cfg'
      - '**/*.conf'
      - '**/*.ini'
      - '**/*.json'
      - '**/*.yaml'
      - '**/*.yml'

# Dependencies and environment
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/deps/**'
      - '**/vendor/**'
      - 'Dockerfile'
      - 'package-lock.json'
      - 'package.json'
      - 'requirements.txt'

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.txt'
      - '**/doc/**'
      - '**/docs/**'
      - 'docs/**/*'
      - 'LICENSE*'
      - 'README*'

# New features and improvements
enhancement:
  - changed-files:
    - any-glob-to-any-file:
      - '**/enhance/**'
      - '**/feat/**'
      - '**/feature/**'
      - '**/improvement/**'

# Performance improvements
performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/optimize/**'
      - '**/perf/**'
      - '**/performance/**'

# Refactoring changes
refactor:
  - changed-files:
    - any-glob-to-any-file:
      - '**/redesign/**'
      - '**/refactor/**'

# Reverts
revert:
  - changed-files:
    - any-glob-to-any-file:
      - '**/revert/**'
      - '**/rollback/**'

# Security-related changes
security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/auth/**'
      - '**/crypto/**'
      - '**/security/**'
      - '**/ssl/**'

# Shell scripts
shell:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.bash'
      - '**/*.sh'
      - '**/bin/*'

# Style changes
style:
  - changed-files:
    - any-glob-to-any-file:
      - '**/.editorconfig'
      - '**/.prettier*'
      - '**/format/**'
      - '**/style/**'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/__tests__/**'
      - '**/.shellcheckrc'
      - '**/*.spec.*'
      - '**/*.test.*'
      - '**/spec/**'
      - '**/test/**'

# Ubuntu-specific content
ubuntu:
  - changed-files:
    - any-glob-to-any-file:
      - '**/apt/**'
      - '**/debian/**'
      - '**/dpkg/**'
      - '**/ubuntu/**'

# CI/CD and workflow files
workflow:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/actions/**'
      - '.github/workflows/**'
      - '.gitlab-ci.yml'
      - '**/.release-please-manifest.json'
      - '**/pipeline/**'
